@import "~normalize.css/normalize.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* font-family: 'Inter', sans-serif; */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --size: calc(1vh + 1vw);

  --c-dark-blue: hsl(225, 42%, 24%);
  --c-light-blue: hsl(186, 41%, 77%);
  --c-green: hsl(119, 100%, 22%);
  --c-light-grey: hsl(0, 0%, 80%);
  --c-label: hsl(249, 6%, 58%);
  --c-label2: hsl(249deg 10.94% 75.34%);
  --invalid: hsl(7, 100%, 68%);
  --c-yellow: hsl(38, 98%, 64%);
  --c-red: hsl(346, 100%, 42%);
  --c-lilac: hsl(260, 91%, 57%);
  --c-rose: hsl(278, 100%, 50%);
  --c-lilac-md: hsl(264, 100%, 50%);
  --c-dark: hsl(210, 11%, 15%);
  --bg-body: hsl(0, 0%, 8%);

  --transition-1: 125ms ease-in-out;
  --transition-2: 250ms ease-in-out;
  --transition-3: 300ms ease-in-out;
}